body {
  margin: 0;
}

.header {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.header a {
  align-items: center;
  display: flex;
}

.header__logo {
  width: 40px;
  height: 40px;
  margin-left: 50px;
}

.navi {
  padding-right: 50px;
}

.nav__list {
  padding: 0;
  list-style: none;
  display: flex;
}

.nav__item + .nav__item {
  margin-left: 20px;
}

.nav__link {
  color: #060b35;
  text-transform: uppercase;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  height: 60px;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 60px;
  text-decoration: none;
  display: block;
  position: relative;
}

.nav__link:hover, .nav__link:active, .is-active {
  color: #00acdc;
}

.nav__link.is-active:after {
  content: "";
  opacity: 1;
  background: #00acdc;
  border-radius: 8px;
  width: 37px;
  height: 4px;
  position: absolute;
  top: 56px;
  left: 50%;
  transform: translateX(-50%);
}

.catalog {
  grid-template-columns: repeat(1, 200px);
  justify-content: center;
  gap: 46px 48px;
  padding: 50px 40px;
  display: grid;
}

@media (width >= 488px) {
  .catalog {
    grid-template-columns: repeat(2, 200px);
  }
}

@media (width >= 768px) {
  .catalog {
    grid-template-columns: repeat(3, 200px);
  }
}

@media (width >= 1024px) {
  .catalog {
    grid-template-columns: repeat(4, 200px);
  }
}

.card {
  box-sizing: border-box;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  flex-direction: column;
  width: 200px;
  padding: 32px 16px 16px;
  transition-duration: .3s;
  display: flex;
}

.card__image {
  align-self: center;
  width: 160px;
  height: 134px;
}

.card__text {
  text-align: left;
  margin-top: 40px;
  margin-bottom: 16px;
}

.card__text-main {
  color: #060b35;
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.card__text-code {
  color: #616070;
  margin: 4px 0 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
}

.card:hover {
  transform-origin: center;
  transform: scale(1.2);
}

.card:hover .card__text-main {
  color: #34568b;
}

.card__price {
  justify-content: space-between;
  align-items: center;
  height: 18px;
  margin-top: 24px;
  display: flex;
}

.card__price-name {
  text-align: left;
  color: #616070;
  font-size: 12px;
  font-weight: 400;
}

.card__price-value {
  text-align: right;
  color: #060b35;
  font-size: 16px;
  font-weight: 700;
}

.card__button {
  background-color: #00acdc;
  border: none;
  border-radius: 5px;
  align-items: center;
  width: 166px;
  height: 40px;
  margin-top: 16px;
}

.card__button-link {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  font-family: Roboto, serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  text-decoration: none;
  display: block;
}

.card__button:hover {
  background-color: #fff;
  border: 1px solid #00acdc;
}

.card__button:hover .card__button-link {
  color: #00acdc;
}

.stars {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 16px;
  display: flex;
}

.stars__items {
  flex-direction: row;
  display: flex;
}

.stars__items-item {
  background-image: url("star.fa806e3c.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: .5px 0 0;
  width: 16px;
  height: 16px;
}

.stars__items-item:not(:last-child) {
  margin-right: 4px;
}

.stars__items--4 .stars__items-item:nth-child(-n+4) {
  background-image: url("star-active.2be54011.svg");
}

.stars__text {
  text-align: right;
  color: #060b35;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
}
/*# sourceMappingURL=index.e378193d.css.map */
